.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  height: calc(100vh - 64px);
  overflow: auto;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.name_balance {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  font-weight: 700;
  gap: 16px;
}

