.new_portfolio_form {
  display: flex;
  flex-direction: column;
  padding: 4px 0px 4px 0px;
  gap: 4px;

}

.portfolio_input_name {
  width: 100%;
  padding: 8px;
  border: 1.5px solid #999999;
  border-radius: 0;

  &:focus, &:hover, &:active, &:visited {
    border: 1.5px solid #128C76;
    border-radius: 0;
  }

}

.error_message {
  color: #F56B8D;
  font-size: 14px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 8px;
}

.type {
  display: flex;
  min-width: 350px;
  flex-direction: row;
  font-size: 16px;
  font-weight: 500;
  justify-content: space-around;
  background-color: #e8e8e8;
  padding: 4px;
}

.inputs {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.button {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 40px;
  background: #e8e8e8;
  color: #333333;
  transition: 0.2s all ease-in-out;
  width: 50%;
  cursor: pointer;

  &:hover,
  &:active {
    color: #128C76;
    background: #ffffff;
  }
}

.active {
  background: #128C76;
  color: #ffffff;
  &:hover,
  &:active {
    background: #128C76;
    color: #ffffff;
  }
}

.button_buy {
  &:hover,
  &:active {
    color: #28a745;
    background: #ffffff;
  }
}

.active_buy {
  background: #28a745;
  color: #ffffff;
  &:hover,
  &:active {
    background: #28a745;
    color: #ffffff;
  }
}

.button_sell {
  &:hover,
  &:active {
    color: #CA3D3D;
    background: #ffffff;
  }
}

.active_sell {
  background: #CA3D3D;
  color: #ffffff;
  &:hover,
  &:active {
    background: #CA3D3D;
    color: #ffffff;
  }
}

.blocked_submit_button {
  color: #999999;
}

.submit_button:hover
{
  color: #333333;
  &:hover {
    color: #128C76;
  }
}

.cancel_button {
  color: #333333;
  &:hover {
    color: #CA3D3D;
  }
}

.add_portfolios{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 48px;
  padding: 16px;
  color: #128C76;
  cursor: pointer;

  &:hover {
    background-color: #f5f5f5;
  }
}