.crypto_dropdown {
  position: relative;
  & {
    z-index: 1;
  }
}

.close {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.crypto_search_input {
  width: 100%;
  padding: 8px;
  outline: none;
  font-size: 16px;
  border: 1.5px solid #999999;
  color: #999999;
  &:focus, &:hover, &:active, &:visited {
    border: 1.5px solid #128C76;
    border-radius: 0;
  }
}

.crypto_search_input_active {
  font-weight: bold;
  color: #333333;
  padding-left: 36px;
}

.crypto_list {
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1.5px solid #999999;
  border-top: none;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.crypto_item {
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #f0f0f0;
  }
}

.crypto_icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;

  position: relative;
}

.current_crypto_icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;

  position: absolute;
  top: 6.5px;
  left: 8px;
}

.crypto_name {
  font-weight: bold;
}

.crypto_symbol {
  color: #666;
}

