.type {
  display: flex;
  min-width: 350px;
  flex-direction: row;
  font-size: 16px;
  font-weight: 500;
  justify-content: space-around;
  background-color: #e8e8e8;
  padding: 4px;
}

.button {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 40px;
  background: #e8e8e8;
  color: #333333;
  transition: 0.2s all ease-in-out;
  width: 35%;

  &:hover,
  &:active {
    color: #128C76;
    background: #ffffff;
  }
}

.active {
  background: #128C76;
  color: #ffffff;
  &:hover,
  &:active {
    background: #128C76;
    color: #ffffff;
  }
}
